body {
  min-width: 320px;
  margin: 0 auto;
  font-family: Roboto, sans-serif;
  background-color: #fafafa;
}

#mainContainer {
  margin: auto;
  max-width: 900px;
  padding: 16px;
  position: relative;
  min-height: calc(100vh - 84px);
}

a {
  text-decoration: none;
}
